In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests


# Import API key
from config import g_key

In [6]:
#import csv from Part 1

df = pd.read_csv("Resources/cities_data.csv")
df

,name,lat,lng,max_temp_f,humidity,cloudiness,windspeed,country,date
0,Kautokeino,69.01,23.04,44.49,87,100,25.30,NO,1600891434
1,East London,-33.02,27.91,67.75,53,12,2.42,ZA,1600891394
2,Vaini,-21.20,-175.20,71.60,94,20,9.17,TO,1600891434
3,Cape Town,-33.93,18.42,59.00,93,75,12.75,ZA,1600891146
4,Fort Nelson,58.81,-122.70,50.00,81,75,2.24,CA,1600891434
...,...,...,...,...,...,...,...,...,...
549,Kitgum,3.28,32.89,67.66,88,86,4.45,UG,1600891565
550,Chengde,40.97,117.94,56.28,88,100,1.66,CN,1600891565
551,Peñarroya-Pueblonuevo,38.30,-5.27,75.20,57,91,3.36,ES,1600891565
552,Vanimo,-2.67,141.30,76.42,87,100,3.15,PG,1600891389
553,Phalaborwa,-23.94,31.14,69.80,49,0,3.36,ZA,1600891565

In [15]:
#drop rows to find ideal weather conditions
#create rows to drop within columns column
hi_temps = df[df["max_temp_f"] > 85].index
low_temps = df[df["max_temp_f"] < 70].index
high_winds = df[df["windspeed"] > 10].index
cloudy = df[df["cloudiness"] > 5].index


#drop rows
df.drop(hi_temps, inplace=True)
df.drop(low_temps, inplace=True)
df.drop(high_winds, inplace=True)
df.drop(cloudy, inplace=True)
df

,name,lat,lng,max_temp_f,humidity,cloudiness,windspeed,country,date
39,Torrington,41.80,-73.12,77.00,58,1,3.00,US,1600891442
52,Westport,41.14,-73.36,81.00,52,0,1.01,US,1600891296
72,Koutsouras,35.03,25.95,77.00,54,0,4.00,GR,1600891449
108,Fortuna,40.60,-124.16,79.00,53,1,9.17,US,1600891457
135,Nhulunbuy,-12.23,136.77,71.60,94,0,4.70,AU,1600891464
141,Eldorado,-23.79,-54.28,80.20,47,0,5.70,BR,1600891465
152,Hopatcong,40.93,-74.66,81.00,41,0,9.17,US,1600891468
160,Mundo Nuevo (Ojo de Agua),18.70,-95.50,82.45,69,0,7.09,MX,1600891470
169,Cortez,37.35,-108.59,80.60,21,1,9.17,US,1600891472
197,Bismarck,46.81,-100.78,78.01,47,1,3.36,US,1600891285
216,Al Bardīyah,31.76,25.09,74.01,81,0,8.90,LY,1600891482
241,Lompoc,34.64,-120.46,80.01,50,1,5.82,US,1600890907
244,Mayo,38.89,-76.51,80.01,44,1,6.93,US,1600891490
259,Bukama,-9.20,25.85,79.02,29,3,2.42,CD,1600891494
285,Cedar City,37.68,-113.06,80.60,12,1,7.14,US,1600891412
311,São Borja,-28.66,-56.00,82.47,49,0,2.15,BR,1600891507
338,Sabla,12.75,4.71,84.29,58,0,9.57,NG,1600891514
341,Kupang,-10.17,123.58,76.66,68,0,4.54,ID,1600891515
353,Maningrida,-12.07,134.27,71.40,85,0,4.76,AU,1600891518
372,Shelburne,44.08,-80.20,77.00,50,1,6.93,CA,1600891523
383,Kabinda,-6.13,24.48,73.60,72,0,1.97,CD,1600891526
432,Batangafo,7.30,18.28,71.46,90,0,2.21,CF,1600891537
448,Bonthe,7.53,-12.51,77.58,88,3,7.45,SL,1600891541
482,Flagstaff,35.20,-111.65,79.00,20,1,8.05,US,1600891549
489,Port Hedland,-20.32,118.57,71.60,33,0,8.05,AU,1600891401
506,St. Marys,30.73,-81.55,77.00,57,1,9.17,US,1600891374
510,Rundu,-17.93,19.77,74.93,20,0,6.85,NaN,1600891555
525,Hamilton,39.18,-84.53,75.99,47,1,3.36,US,1600891207
542,Nālūt,30.33,10.85,84.87,21,0,8.23,LY,1600891563