In [70]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps


# Import API key
from config import g_key

In [71]:
#import csv from Part 1
df = pd.read_csv("Resources/cities_data.csv")
df

,name,lat,lng,max_temp_f,humidity,cloudiness,windspeed,country,date
0,Kautokeino,69.01,23.04,44.49,87,100,25.30,NO,1600891434
1,East London,-33.02,27.91,67.75,53,12,2.42,ZA,1600891394
2,Vaini,-21.20,-175.20,71.60,94,20,9.17,TO,1600891434
3,Cape Town,-33.93,18.42,59.00,93,75,12.75,ZA,1600891146
4,Fort Nelson,58.81,-122.70,50.00,81,75,2.24,CA,1600891434
...,...,...,...,...,...,...,...,...,...
549,Kitgum,3.28,32.89,67.66,88,86,4.45,UG,1600891565
550,Chengde,40.97,117.94,56.28,88,100,1.66,CN,1600891565
551,Peñarroya-Pueblonuevo,38.30,-5.27,75.20,57,91,3.36,ES,1600891565
552,Vanimo,-2.67,141.30,76.42,87,100,3.15,PG,1600891389
553,Phalaborwa,-23.94,31.14,69.80,49,0,3.36,ZA,1600891565

In [76]:
#drop rows to find ideal weather conditions
#create rows to drop within columns column
hi_temps = df[df["max_temp_f"] > 90].index
low_temps = df[df["max_temp_f"] < 60].index
high_winds = df[df["windspeed"] > 10].index
cloudy = df[df["cloudiness"] > 40].index

df.drop(hi_temps, inplace=True)
df.drop(low_temps, inplace=True)
df.drop(high_winds, inplace=True)
df.drop(cloudy, inplace=True)
df

,name,lat,lng,max_temp_f,humidity,cloudiness,windspeed,country,date
1,East London,-33.02,27.91,67.75,53,12,2.42,ZA,1600891394
2,Vaini,-21.20,-175.20,71.60,94,20,9.17,TO,1600891434
10,São Filipe,14.90,-24.50,80.60,80,33,6.53,CV,1600891436
18,San Patricio,19.22,-104.70,89.60,66,20,6.93,MX,1600891437
25,Grand Gaube,-20.01,57.66,66.99,73,2,3.00,MU,1600891439
...,...,...,...,...,...,...,...,...,...
541,Korla,41.76,86.15,64.81,28,19,4.72,CN,1600891563
542,Nālūt,30.33,10.85,84.87,21,0,8.23,LY,1600891563
544,Bolshaya Dzhalga,45.97,42.70,62.87,60,26,9.73,RU,1600891563
546,Artyom,40.47,50.33,64.40,77,0,4.70,AZ,1600891564
553,Phalaborwa,-23.94,31.14,69.80,49,0,3.36,ZA,1600891565

In [79]:
#create lat/lng string for API calls and add to df
df["lat_lng"] = df["lat"].astype(str) + "," + df["lng"].astype(str)

#create list to iterate over
lat_lng_list = df["lat_lng"].tolist()

In [80]:

hotels = requests.get("https://maps.googleapis.com/maps/api/place/nearbysearch/json", params={
    "key": g_key,
    "location": lat_lng_list,
    "radius": 5000,
    "keyword": "hotel"
}).json()

In [89]:
hotels["results"][0]

{'business_status': 'OPERATIONAL',
 'geometry': {'location': {'lat': -33.0186916, 'lng': 27.9186969},
  'viewport': {'northeast': {'lat': -33.01733407010728,
    'lng': 27.92016887989272},
   'southwest': {'lat': -33.02003372989272, 'lng': 27.91746922010728}}},
 'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/lodging-71.png',
 'name': 'Premier Hotels & Resorts',
 'opening_hours': {'open_now': True},
 'photos': [{'height': 1335,
   'html_attributions': ['<a href="https://maps.google.com/maps/contrib/104077973295993324928">Premier Hotels &amp; Resorts</a>'],
   'photo_reference': 'CmRaAAAAX7yG-zQNUnzGv0g7yiipuoWwUdh4GpvC3Qx-S7XJnWDmGnyjfKZljUrHVk07dxyRax9ITaeVeQUJwRU-DDhL3DCGFUfgyJkN3EswFulQZBipOZc25IugWnFcPnjKHhU6EhAryLAoePqnZ4BrpBLoxDq7GhTlLHeKeikU6pKf3Lk5NvvSWSTlaA',
   'width': 2000}],
 'place_id': 'ChIJyXgrqubhZh4R4QPbGR1GRyM',
 'plus_code': {'compound_code': 'XWJ9+GF East London, South Africa',
  'global_code': '4GR9XWJ9+GF'},
 'rating': 4.2,
 'reference': 'ChIJyXgrqubhZh4R4QPbGR1GRyM',
 'scope': 'GOOGLE',
 'types': ['lodging', 'point_of_interest', 'establishment'],
 'user_ratings_total': 1018,
 'vicinity': '2nd Floor Elicc Building, Marine Park Complex 22 Esplanade, Beachfront, East London'}

In [82]:
#define function for extracting data
def extract_data(data):
    data = data["results"][0]
    return {
        "Hotel Name" : data["name"],
        "Lat" : data["geometry"]["location"]["lat"],
        "Lng" : data["geometry"]["location"]["lng"]
    }

In [83]:
#request data from Google Places api with api calls

hotel_results = []

#set beginning print statments for output
print("Beginning Data Retrieval")
print("-" * 30)

#set up record counter for output
record_counter = 1

#create for loop to loop over random city list
for coords in lat_lng_list:
    
    #set up request and include try/except
    try:
        print(f"Processing Record {record_counter} | {coords}")
        
        record_counter += 1
        
        data = requests.get("https://maps.googleapis.com/maps/api/place/nearbysearch/json", params={
            "key": g_key,
            "location": coords,
            "radius": 5000,
            "keyword": "hotel"
        }).json()
    
        hotel_result = extract_data(data)
    
        hotel_results.append(hotel_result)
        
    except:
        print("No hotel found. Skipping ...")
        pass
    
print("-" * 30)
print("Data Retrieval Complete")
print("-" * 30)

Beginning Data Retrieval
------------------------------
Processing Record 1 | -33.02,27.91
Processing Record 2 | -21.2,-175.2
Processing Record 3 | 14.9,-24.5
Processing Record 4 | 19.22,-104.7
Processing Record 5 | -20.01,57.66
Processing Record 6 | 41.8,-73.12
Processing Record 7 | 27.67,-105.17
Processing Record 8 | 5.41,100.34
Processing Record 9 | 41.14,-73.36
Processing Record 10 | -20.44,-54.86
Processing Record 11 | 33.73,135.98
Processing Record 12 | 35.03,25.95
Processing Record 13 | -21.36,55.77
Processing Record 14 | 31.61,34.76
Processing Record 15 | -33.59,26.89
Processing Record 16 | -10.75,-77.77
Processing Record 17 | 32.67,-17.1
Processing Record 18 | 59.7,30.79
No hotel found. Skipping ...
Processing Record 19 | 16.86,-99.89
Processing Record 20 | -23.86,35.38
Processing Record 21 | 40.6,-124.16
Processing Record 22 | 38.42,-121.42
Processing Record 23 | -26.65,15.16
Processing Record 24 | 10.4,5.47
Processing Record 25 | -12.23,136.77
Processing Record 26 | -23.79,-54.28
Processing Record 27 | 33.19,-82.53
No hotel found. Skipping ...
Processing Record 28 | -10.45,161.92
No hotel found. Skipping ...
Processing Record 29 | -9.86,124.28
Processing Record 30 | 33.85,-118.05
Processing Record 31 | 40.93,-74.66
Processing Record 32 | 59.78,30.82
No hotel found. Skipping ...
Processing Record 33 | 26.18,127.76
Processing Record 34 | 18.7,-95.5
No hotel found. Skipping ...
Processing Record 35 | 42.6,42.07
No hotel found. Skipping ...
Processing Record 36 | 14.35,121.02
Processing Record 37 | 37.35,-108.59
Processing Record 38 | -8.93,125.41
No hotel found. Skipping ...
Processing Record 39 | 45.46,8.01
Processing Record 40 | -11.83,31.45
Processing Record 41 | 59.37,24.93
No hotel found. Skipping ...
Processing Record 42 | 46.81,-100.78
Processing Record 43 | -20.34,57.76
Processing Record 44 | 32.38,15.09
Processing Record 45 | 30.71,111.28
Processing Record 46 | 31.62,114.0
Processing Record 47 | 14.69,-17.44
Processing Record 48 | 31.76,25.09
Processing Record 49 | -40.81,-63.0
Processing Record 50 | 17.98,-102.23
Processing Record 51 | 40.48,25.47
Processing Record 52 | 32.77,-108.28
Processing Record 53 | 1.49,124.85
Processing Record 54 | 36.26,2.75
Processing Record 55 | 3.66,31.72
Processing Record 56 | 34.64,-120.46
Processing Record 57 | -6.26,107.07
Processing Record 58 | 38.89,-76.51
No hotel found. Skipping ...
Processing Record 59 | 4.48,118.61
Processing Record 60 | 31.5,34.47
Processing Record 61 | -10.07,-78.15
Processing Record 62 | 4.23,100.63
Processing Record 63 | -9.2,25.85
No hotel found. Skipping ...
Processing Record 64 | -3.7,128.18
Processing Record 65 | 40.16,-8.33
Processing Record 66 | -10.61,34.11
Processing Record 67 | 37.68,-113.06
Processing Record 68 | -29.68,-53.81
Processing Record 69 | 15.85,-97.07
Processing Record 70 | -13.2,49.05
Processing Record 71 | -9.43,159.95
Processing Record 72 | -20.41,57.7
Processing Record 73 | 36.92,34.88
Processing Record 74 | -43.3,-65.1
Processing Record 75 | -28.66,-56.0
Processing Record 76 | 14.2,24.67
No hotel found. Skipping ...
Processing Record 77 | 43.46,39.92
Processing Record 78 | 5.28,115.24
Processing Record 79 | -1.83,-44.87
Processing Record 80 | 12.75,4.71
No hotel found. Skipping ...
Processing Record 81 | -10.17,123.58
Processing Record 82 | -12.07,134.27
Processing Record 83 | -51.62,-69.22
Processing Record 84 | 31.76,13.99
Processing Record 85 | 39.55,-89.29
Processing Record 86 | 44.08,-80.2
Processing Record 87 | -20.02,57.58
Processing Record 88 | -6.13,24.48
No hotel found. Skipping ...
Processing Record 89 | 33.54,-117.78
Processing Record 90 | 29.56,34.95
Processing Record 91 | 35.3,37.18
No hotel found. Skipping ...
Processing Record 92 | -3.28,30.96
Processing Record 93 | 18.55,-88.25
Processing Record 94 | 42.07,48.29
Processing Record 95 | 17.96,-102.2
Processing Record 96 | 18.63,-91.83
Processing Record 97 | -3.63,32.18
No hotel found. Skipping ...
Processing Record 98 | 7.3,18.28
Processing Record 99 | 35.41,116.58
Processing Record 100 | -3.75,-73.25
Processing Record 101 | 7.53,-12.51
Processing Record 102 | 21.46,-71.14
Processing Record 103 | -20.52,57.52
Processing Record 104 | -16.03,35.5
Processing Record 105 | -17.62,-66.02
No hotel found. Skipping ...
Processing Record 106 | 4.87,-2.24
Processing Record 107 | 24.69,46.72
Processing Record 108 | 35.2,-111.65
Processing Record 109 | 4.25,117.89
Processing Record 110 | -20.32,118.57
Processing Record 111 | 30.73,-81.55
Processing Record 112 | -17.93,19.77
Processing Record 113 | 37.7,-121.94
Processing Record 114 | 36.16,-82.83
Processing Record 115 | -22.09,-70.2
Processing Record 116 | 39.18,-84.53
No hotel found. Skipping ...
Processing Record 117 | -20.21,57.76
Processing Record 118 | 60.12,30.16
Processing Record 119 | 41.76,86.15
Processing Record 120 | 30.33,10.85
No hotel found. Skipping ...
Processing Record 121 | 45.97,42.7
No hotel found. Skipping ...
Processing Record 122 | 40.47,50.33
Processing Record 123 | -23.94,31.14
------------------------------
Data Retrieval Complete
------------------------------

In [85]:
hotel_df = pd.DataFrame(hotel_results)

In [88]:
hotel_df

                                 Hotel Name        Lat         Lng
0                  Premier Hotels & Resorts -33.018692   27.918697
1                      Paradise First Hotel -21.155314 -175.177150
2              Colonial Guest House of Fogo  14.895686  -24.498694
3                           Hotel Bogavante  19.204438 -104.684203
4           LUX Grand Gaube Resort & Villas -20.002344   57.659766
..                                      ...        ...         ...
99   Shangri-La's Le Touessrok Resort & Spa -20.251215   57.796825
100                    дом п. Левашово, СПб  60.106090   30.189664
101       Lavande Hotel Korla Shihua Avenue  41.746445   86.168415
102                         F marine resort  40.438401   50.348919
103                      Matimba Bush Lodge -23.974074   31.171465

[104 rows x 3 columns]